
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title" style="padding-top: 50px">
                    <h1>ConfirmOrder</h1>
                    <h2>Buy Ticket Has Been Confirmed</h2>
                    <h3>
                        Thank for use our service !
                    </h3>
                    <p>
                        <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Back To Home</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>